/*Tools*/
html, body {
	padding:0px;
	margin:0px;
}

.mobile{
	display: hidden;
}

/*Reusable Properties*/
.float_left{
	display: flex;
	align-items: flex-start;
}

.float_right{
	display: flex;
	align-items: flex-end;
}

.text_shadow{
	text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
}

.playfair_font{
	font-family: "Playfair Display";
	font-weight: lighter;
}

.raleway_font{
	font-family: "Raleway";
}

.italic{
	
	font-style: italic;
	text-align: center;
}

.bold{
	font-weight: bold;
}

.no_bold{
	font-weight: normal;
}

.white_font{
	color: white;
}

.grey_font{
	color: #969696;
}

.radius{
	border-radius: 50px;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.section_title{
	font-size: 2.4rem;
}

.container{
	size: contain;
	display: flex;
	justify-content: flex-start; 
    flex-direction: column;
}

.fontstyle_clear{
 	font-style: normal;
}



/*Header & Navigation*/
.header_img{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.aloha{
	margin-left: 60px;
	width: 140px;
}

.cart_icon{
	margin-right: 120px;
	

}

#cart_number{
	display: none;
	padding: 7px;
	width: 13px;
	height: 13px;
	text-align: center;
	position: absolute;
	border-radius: 50%;

	background-color: #E2574C;

}

.nav_link a:link{
	color: #E2574C !important;
	text-decoration: none;
}

/*Banner Section*/
.intro_img {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.247059) 0%,
		rgba(0, 0, 0, 0.247059) 100%),
		url(../images/banner-girl.png),
		url(../images/flower-bkgd.jpg);
	background-repeat: repeat-x, no-repeat;
	background-size: cover, contain;
	background-position: center top, 50% 100px;
	top: 65px;
	height: 600px;
	width: 100%;
	max-height: 675px;
   	overflow: hidden;
}

.intro_content{
	position: relative;
	text-align: center;
	
}

.new_collection3{
	position: relative;
	padding-top: 175px;
	text-align: center;
	font-size: 1.25rem;
}

.new_collection1{
	position: relative;
	text-align: center;
	font-size: 4rem;
	
}


/*Description Section*/
.intro_paragraph {
	font-size: 1.15rem;
	font-family: "Raleway";
	text-align: center;
	padding-bottom: 30px;
}

.img_collage{
	position: relative;
	display: flex;
	flex-wrap: wrap;	
	max-width: 100%;
	height: auto;


}
.women_category img{
	max-width: 100%;	
}

.women_category{
	flex-grow: 2;
	height: 50%;
}

.trend_category img{
	max-width: 100%;
}	
.trend_category{
	width: 25%;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.glasses_category img{
	max-width: 100%;
}
.glass_category{
	width: 25%;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.sales_category img{
	max-width: 100%;
}
.sales_category{
	width: 25%;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.bags_category img{
	max-width: 100%;
}
.bags_category{
	width: 25%;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.men_category img{
	max-width: 100%;
}
.men_category{
	flex-grow: 2;
	max-width: 50%;
	height: auto;
}

/*Products Section*/
.products{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	
}

.no_top_margin{
	margin-top: 0;
}


.product_div{
	text-align: center;
	width: 25%;
	
}

.product_category{
	text-transform: uppercase;
}

.product_name{
	color: #E2574C;
	font-size: 1.5em;
	margin: auto;

}


/*Subscribe Section*/
.subscribe_img{
	display: flex;
	background-image: url(../images/wave-bkgd.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	height: 350px;
	margin-top: 100px;
	align-items: center;
	flex-direction: column;
}

.update_info{
	text-align: center;
	font-size: 1.15rem;
}


.intro_title{
	padding-top: 70px;
}

.form{
	
	background-color: white;
	border-radius: 50px;
	border-style: none;
	width: 300px;
	border: 3px;
	border-style: solid;
	border-color: white;
	margin: 30px, 0, 30px, 0;


}

.form_info{
	display: flex;
	flex-direction: row;
	align-content: center;
}

.text_input{
	width: 185px;
	font-size: 16px;
	padding: 10px;
	border: none;

}

 .submit_btn{
 	border-radius: 50px;
 	background-color: #E2574C;
 	font-size: 16px;
 	padding: 10px;
 	border: none;
 }


/*Footer Section*/
a:link{
	color: white;
}

a:hover{
	color: #E2574C;
}

.footer_info{
	background-color: #242424;
	position: relative;
	font-family: "Playfair Display", serif;
	width: 100%;
	background-size: cover;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: flex-start;

	
}

.footer_desc{
	align-items: flex-start;
	flex-direction: row;
}

.footer_container

.footer_padding{
	padding-left: 120px;
}

.footer_text{
	align-content: center;
	text-align: center;
	padding-top: 30px;
}


/*Social Media*/
.social_media{
	padding: 30px 120px 30px 0;
	justify-content: space-between;
}



a.social_link {
	text-decoration: none;
}

a:link{
	color: white;
}

a:hover{
	color: #E2574C;
}



/* Responsive */

/*Mobile */
@media only screen and (max-width: 599px){

	

	.footer_info{
		display: inline;
		padding: 0;
		float: 0;
		text-align: center;
	}
	
	.logo{
		
		width: 25%;
		padding: 10px;
		margin: 10px 0 0 0;
	}

	.new_collection1{
		font-size: 3rem;
	}
	
	.mobile_center{
		width: 100%;
		float: left;
		align-content: center;
		text-align: center;
		padding-left: 0;
	}

	.social_media{
		float: left;
		margin-left: 0;
		width: 100% !important;
	}

	.fa-ul{
		margin-left: 0;
		text-align: center;
	}

	.fa-ul>li{
		position: relative;
		display: inline-block;
	}

	ul.fa-ul{
		margin-left: 0;
	}

	.fa-li{
		width: 1.5rem;
		top: 1.4rem;
		text-align: center;
		font-size: 40px;
		position: relative !important;
		left: 0 !important;
	}

	.cart_img{
		height: 70px;
		width: 70px;
		margin-right: 0px;
		padding: 10px;
	}

	.product_div{
		width: 100% !important;
	}

	.network_text{	
		display:none;
	}
	
	li.social{
		font-size: 30px;
	}
	

}


/*Tablet*/
@media only screen and (min-width: 600px) and (max-width: 1023px) {

	.logo{
		width: 20%;
	}

	.product_div{
		width: 50% !important;
	}

	.footer_padding{
		padding-left: 60px;
	}

	.social_media{
		padding: 30px 60px 30px 0;
	}

	.footer_info{
		margin-top: 10px;
	}
}




